.layout {
  display: flex;
  height: 100vh; /* Equivalent to h-screen */
  flex-direction: column;
}

@media (min-width: 768px) {
  .layout {
    flex-direction: row; /* Equivalent to md:flex-row */
    overflow: hidden; /* Equivalent to md:overflow-hidden */
  }
}

.sidenavContainer {
  width: 100%; /* Equivalent to w-full */
  flex: none; /* Equivalent to flex-none */
}

@media (min-width: 768px) {
  .sidenavContainer {
    width: 16rem; /* Equivalent to md:w-64 */
  }
}

.content {
  flex-grow: 1; /* Equivalent to flex-grow */
  padding: 1.5rem; /* Equivalent to p-6 */
  overflow-y: auto; /* Equivalent to md:overflow-y-auto */
}

@media (min-width: 768px) {
  .content {
    padding: 3rem; /* Equivalent to md:p-12 */
  }
}